.add-student-wrapper {
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 700px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  font-weight: 700;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
}

.input-group label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

.input-group .input,
.input-group .select {
  padding: 12px 14px;
  font-size: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.date{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-student-button {
  width: 40%;
  display: block;
  margin: 40px auto 10px auto;
  padding: 12px;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #8d49e4, #ce85f5);
  box-shadow: 0 4px 15px 3px rgba(141, 73, 228, 0.3);
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.add-student-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* .required {
  color: red;
  margin-left: 4px;
} */
