.student-credentials-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.cred-para {
    margin-top: 10px;
    margin-bottom: 5px;
}

.close-btn {
    padding: 8px 18px;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #8d49e4, #ce85f5);
    color: #fff;
    box-shadow: 0 4px 15px 3px rgba(141, 73, 228, 0.3);
}

.copy-btn {
    margin-top: 11px;
    margin-bottom: 2px;
    font-size: 13px;
    padding: 8px 17px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #8d49e4, #ce85f5);
    color: #fff;
    box-shadow: 0 4px 15px 3px rgba(141, 73, 228, 0.3);
}

.copy-icon {
    font-size: 13px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.copy-btn:hover,
.close-btn:hover {
    transform: scale(1.07);
    opacity: 0.95;
}