*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  background: radial-gradient(circle at 20% 30%, #eed2fa, transparent 40%),
              radial-gradient(circle at 80% 70%, #bae4f9, transparent 50%),
              radial-gradient(circle at 60% 20%, #f8c1dd, transparent 30%),
              radial-gradient(circle at 20% 80%, #b8f9e0, transparent 35%);
  background-color: #fefcff;
  background-attachment: fixed;
  background-size: cover;
}