*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  background: radial-gradient(circle at 20% 30%, #e8c6f6, transparent 40%),
              radial-gradient(circle at 80% 70%, #b9e0f6, transparent 50%),
              radial-gradient(circle at 60% 20%, #f2bdd8, transparent 40%),
              radial-gradient(circle at 20% 80%, #bffae3, transparent 35%);
  background-color: #fefcff;
  background-attachment: fixed;
  background-size: cover;
}