.container {
  display: flex;
  padding: 30px;
}
.left{
  width: 25%;
  text-align: center;
  padding: 20px;
}
.profile-img {
  width: 140px;
  border-radius: 50%;
  background-color: #cecece;
}
.faculty-info {
  margin-top: 15px;
  font-size: 1rem;
  color: #3f3f3f;
}
.right {
  width: 75%;
  padding: 20px;
}
.section-box {
  margin-bottom: 40px;
}
.section-box h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #222;
}
.content-box {
  height: 170px;
  background-color: #eaeaea;
  border-radius: 15px;
  padding: 15px;
}
.news-scroller {
  height: 140px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eaeaea;
}
.news-scroller ol {
  list-style: none;
  margin: 0;
  padding: 0;
  animation: scrollCircular 8s ease-in-out infinite;
  animation-play-state: running;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.news-scroller:hover ol {
  animation-play-state: paused;
}
.news-scroller li {
  line-height: 1.5;
}
/* @keyframes scrollYoyo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */
 @keyframes scrollCircular {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(-100%);
  }
}
.news-scroller ol::after {
  content: '';
  display: block;
  height: 100%;
}