.course-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 100px auto;
  padding: 20px;
  max-width: 600px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.course-details p {
  line-height: 2.9;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.course-details h2 {
  margin-bottom: 10px;
}

.course-details a {
  color: #6a0dad;
  /* font-weight: bold; */
}

.classroom-button, .syllabus-button {
  width: 25%;
  background: linear-gradient(to right, #8d49e4, #ce85f5);
  box-shadow: 0 4px 15px 3px rgba(141, 73, 228, 0.3);
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.classroom-button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.syllabus-button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}