.add-project-wrapper {
  margin: 45px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 660px;
}

.h2Head {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  font-weight: 700;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
}

.input-group label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

.input-group .input,
.input-group .select {
  padding: 10px 12px;
  font-size: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.input-group .inputOther {
  margin-top: 5px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  transition: border-color 0.3s;
  font-size: 1rem;
}

/* .input-group .input:focus,
.input-group .select:focus {
  border-color: #8d49e4;
  outline: none;
} */
.add-project-button {
  width: 28%;
  display: block;
  margin: 20px auto 0 auto;
  padding: 12px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(to right, #8d49e4, #ce85f5);
  box-shadow: 0 4px 15px 3px rgba(141, 73, 228, 0.3);
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.add-project-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 480px) {
  .add-project-wrapper {
    width: 90%;
    padding: 20px;
  }

  .h2Head {
    font-size: 1.5rem;
  }

  .add-project-button {
    width: 100%;
  }

  .input-group .input,
  .input-group .select,
  .input-group .inputOther {
    font-size: 0.95rem;
    padding: 9px 10px;
  }
}

@media (max-width: 768px) {
  .add-project-wrapper {
    width: 80%;
    padding: 30px;
  }

  .h2Head {
    font-size: 1.7rem;
  }

  .add-project-button {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .add-project-wrapper {
    width: 90%;
  }

  .h2Head {
    font-size: 1.8rem;
  }

  .add-project-button {
    width: 40%;
  }
}